<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Blackbird\RestLogger\Api\Data\LogInterface" type="Blackbird\RestLogger\Model\Log"/>
    <preference for="Blackbird\RestLogger\Api\ConfigInterface" type="Blackbird\RestLogger\Model\Config"/>
    <preference for="Blackbird\RestLogger\Api\ResolverInterface" type="Blackbird\RestLogger\Model\Service\Resolver"/>
    <preference for="Blackbird\RestLogger\Api\Data\LogSearchResultsInterface" type="Blackbird\RestLogger\Model\LogSearchResults"/>
    <preference for="Blackbird\RestLogger\Api\GetLogsListInterface" type="Blackbird\RestLogger\Model\GetLogList"/>
    <preference for="Blackbird\RestLogger\Api\SaveLogsInterface" type="Blackbird\RestLogger\Model\ResourceModel\SaveLogs"/>
    <preference for="Blackbird\RestLogger\Api\CleanLogsInterface" type="Blackbird\RestLogger\Model\ResourceModel\CleanLogs"/>
    <!-- Cli Command -->
    <type name="Blackbird\RestLogger\Console\Command\CleanupLogs">
        <arguments>
            <argument name="name" xsi:type="string">blackbird:restlogger:cleanup</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="blackbird_restlogger_cleanup" xsi:type="object">Blackbird\RestLogger\Console\Command\CleanupLogs</item>
            </argument>
        </arguments>
    </type>
</config>
