<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="restlogger" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Rest Logger</label>
            <tab>blackbird_extensions</tab>
            <resource>Blackbird_Restlogger::config</resource>
            <group id="general" translate="label" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="include_authorization" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <depends>
                        <field id="restlogger/general/enabled">1</field>
                    </depends>
                    <label>Enable logging of authorization request</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="excluded_services" translate="label comment" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable logging services</label>
                    <source_model>Blackbird\RestLogger\Model\Config\Source\Services</source_model>
                    <comment>Web API REST services which would not be logged.</comment>
                </field>
            </group>
            <!-- TODO implement cleanup of old logs -->
<!--            <group id="cleanup" translate="label" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">-->
<!--                <label>Cleanup</label>-->
<!--                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">-->
<!--                    <label>Enable cleanup of old logs</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
<!--                </field>-->
<!--                <field id="threshold" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">-->
<!--                    <depends>-->
<!--                        <field id="restlogger/cleanup/enabled">1</field>-->
<!--                    </depends>-->
<!--                    <label>Log lifetime</label>-->
<!--                    <comment>In days</comment>-->
<!--                </field>-->
<!--            </group>-->
        </section>
    </system>
</config>
